<!DOCTYPE html>
<html>
<head>

	<title>Sharable Whiteboard</title>

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/customStyle.css">

	<script src="/js/jquery.min.js"></script>
	<script src="/js/tether.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/socket.io.js"></script>
	<script src="/js/atrament.min.js"></script>
	<script src="/js/customScript.js"></script>

</head>
<body>

	<div class="container-fluid">

		<div class="row">
			
			<div class="col-xs-12">
				<form>
					<button id="clear" onclick="event.preventDefault(); sketcher.clear(); saveImage();">clear</button><br>
					<label>Thickness</label><br>
					<input type="range" min="1" max="40" oninput="sketcher.weight = parseFloat(event.target.value);" value="2" step="0.1" autocomplete="off"/><br>
					<label>Smoothing</label><br>
					<input type="checkbox" onchange="sketcher.smoothing = event.target.checked;" checked autocomplete="off"><br>
					<label>Adaptive stroke</label><br>
					<input type="checkbox" onchange="sketcher.adaptiveStroke = event.target.checked;" checked autocomplete="off"><br>
					<label>Mode</label>
					<select onchange="sketcher.mode = event.target.value;">
						<option value="draw" default>Draw</option>
						<option value="fill" default>Fill</option>
						<option value="erase" default>Erase</option>
					</select><br>
					<label>Colour</label>
					<input type="color" onchange="sketcher.color = event.target.value;" value="#000000" autocomplete="off"><br>
					<label>Opacity</label><br>
					<input type="range" min="0" max="1" onchange="sketcher.opacity = parseFloat(event.target.value);" value="1" step="0.05" autocomplete="off">
					<button id="toImage" onclick="event.preventDefault(); saveImage();">To Image</button>
				</form>
			</div>

		</div>

		<div class="row">
			
			<div class="col-xs-12" id="a1" style="background:red; opacity: 0.6">
				<canvas id="mySketcher">
			</div>
	    	
		</div>

	</div>

</body>
</html>

